@charset "utf-8";


@import url(
'https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;700&display=swap'
);


.clearfix::after{
    content: "" ;
    display:block;
    clear:both;
}

img {
    vertical-align: bottom;
    width: 100%;
    border-radius: 6px;
}


header {
    border-top: 10px solid #c2e08f;
}


a {
    text-decoration: none;
    color:green;
}


a:hover{
    opacity: 0.7;
}

h1 {
    font-size: 250%;
}

.container {
    max-width: 640px;
    margin: 0 auto;
}

h1,
h2,
footer {
    text-align: center;
    font-family: 'Josefin Slab',serif;

}
ul{
    padding-left: 0;

}


li {
    list-style: none;
    text-align: center;
    width: 30%;
    float: left;
    margin-right: 5%;

}

li:last-of-type {
    margin-right: 0;
}

@media screen and (max-width:640px){

    li{
        width:100%;
        float:none;
    }
}


li a {
    display: block;
    padding: 1em;
    margin-bottom: 0.5em;
    background-color: khaki;
    border-radius: 6px;
}

section {
    box-shadow:0 0 10px 0 whitesmoke;
    padding:10px 20px;
    margin-top: 40px;
}

h2{
    background: url("../image/bg_h2.png") center bottom no-repeat;
}

table{
    width:100%;
    text-align: center;
}

th,td{
    width: calc(100%/3);
}
