@charset "utf-8";

table,th,td{
    border:1px solid #000;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
table{
    border: 3px solid;
    padding: 0.5em;
    margin: 5px 0;
}
th{
    border: 5px solid red;
    padding: 0.5em;
    margin:5px 0;
}
td{
    border:4px solid pink;
    padding: 0.5em;
    margin: 5px 0;
}
table caption{
    font-size: 1em;
    color: purple;
    font-weight: bolder;
}
.col-1{
    width: 20%;
}
.col-2{
    width: 40%;
}
.col-3{
    width: 40%;
}
th{

    background-color: palevioletred;
    color:black;
}



