@charset "utf-8";

p{
    box-sizing: content-box;
    width: 50px;
    padding: 100px 50px 50px 100px;
    border-top: 10px solid #f60;
    border-right: 10px solid #b66;
    border-bottom: 10px solid #a05;
    border-left: 10px solid #e10;
    margin: 20px auto;
    background: #eee;
}

p.border-box{box-sizing:border-box;}
